@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


body {
   margin: 0;
   font-family: "DM Serif Text", serif;
}


.titles {
    font-size: 2rem;
}

.authors {
    font-size: 1.5rem;
}

h1 {
    font-size: 5rem;
    margin-left: 3rem;
    font-style: oblique;
    font-weight: 400;
    text-align: center;
}

.each-article {
  margin-left: 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgb(236 250 255);
  padding-left: 3rem;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(230, 252, 255, 0.5) 100%);
  display: flex;
}

.each-article a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: 0.2s ease-in-out;
}

.each-article a:hover {
    cursor: pointer;
    border-bottom: 4px solid black;
    
}

.each-meta {
     padding: 3.4rem;
}

.each-img {
    margin-top: 3rem;
}

.each-img img {
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    height: auto;
    margin-top: 3rem;
    /* border: 1px white solid; */
    box-shadow: 0 0 7px grey;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(230, 252, 255, 1) 100%);
    transition: transform 0.2s ease;
}

.each-img img:hover {
    transform: scale(103%);

}

.each-article .sources span {
    color: grey;
    font-weight: bold;
    padding-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
}